
body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  color: #333;
  background: #f4f4f4;
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

h1 {
  font-size: 2rem;
  text-align: left;
  line-height: 1.2;
}

h2 {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.2;
}

h3 {
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.2;
}

p {
  text-align: left;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

section {
  min-height: 100vh;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introduction h1 {
  color: #2b6d5f;
  padding-top: 2rem;
}

.introduction p {
  color: #555;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.introduction p span {
  color: #00cd4f;
  font-weight: bold;
}

/* .introduction img {
  width: 10rem;
} */

.image-container {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  width: 100vw; 
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  width: 80vw;
  scroll-snap-align: start;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.history-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.types-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-map {
  text-align: left;
}

.maps {
  overflow: hidden;
}


.fact {
  margin-bottom: 10px;
}

.number {
  font-size: 2em;
  color: #27706b;
}

footer {
  background-color: #7cd3d6;
  color: white;
  padding: 10px;
  text-align: center;
}

.spacer {
  height: 20vh; 
  background-color: #f4f4f4;
}

@media screen and (max-width: 600px) {
  .history-content, .types-content {
    flex-direction: column;
  }
}

.variants .variant {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.variant p {
  text-align: center;
  margin: 2rem;
}

.variant h3 {
  text-align: center;
  margin: 2rem;
  font-weight: bold;
}

.variant img {
  width: 80%;
  border-radius: 5%;
}

.cross {
  color: red;
}

.tick {
  color: green;
}

.material-symbols-outlined {
  font-size: 3rem !important;
}

.history {
  overflow: hidden;
  position: relative; /* Needed for proper functioning of ScrollTrigger */
}

.history-container {
  display: flex;
  position: relative;
  display:flex;
  flex-direction:row;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
}

.history-article {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history-article img {
  width: 50%;
  border-radius: 5%;
}